In [1]:
import numpy as np
import pandas as pd
import pickle
import plotly.express as px
import spacy
import regex as re

from speakleash import Speakleash
from ttictoc import tic,toc

In [2]:
with open("df_feat_added_full.pkl","rb") as f:
    df = pickle.load(f)

In [25]:
def find_camel(df):
    tic()
    camel_dict = {}
    pattern = r"\b[A-Z]\w*(?:\s+[A-Z]\w*)+"
    for i in df["name"].values.tolist():   
        text = str(df["text"][df["name"] == i])
        result = ["".join(x.split()) for x in re.findall(pattern, text)]
        camel_dict[i] = result
    elapsed = toc()
    print(elapsed)
    return camel_dict


camel_dict = find_camel(df)

108.06973070000004

In [26]:
with open("dict_camel.pkl","wb") as f:
    pickle.dump(camel_dict, f)

In [43]:
camel_dict_df = pd.DataFrame(camel_dict.items(), columns=['file', 'CCase'])

In [44]:
display(camel_dict_df)

               file                CCase
0      10004020.txt                   []
1      10007360.txt                   []
2      10008763.txt                   []
3      10020990.txt                   []
4       1003015.txt                   []
...             ...                  ...
28609  99997417.txt                   []
28610  99998238.txt                   []
28611  99998368.txt          [TYLKOUNAS]
28612  99998516.txt  [JanemBudziaszkiem]
28613   9999901.txt                   []

[28614 rows x 2 columns]

In [46]:
camel_dict_df['ccount'] = camel_dict_df.CCase.apply(len)

In [48]:
camel_dict_df.ccount.value_counts()

0    14412
1    12221
2     1953
3       28
Name: ccount, dtype: int64

In [49]:
with open("dict_camel_df.pkl","wb") as f:
    pickle.dump(camel_dict_df, f)